<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_Castle_Core_dll_1024581424_WixComponent" Guid="D10839E0-A739-4811-8AFC-053AAB8DC499" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1221233098_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_81023913_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_863839939_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_1684831469_WixComponent" Guid="0A5223F7-D6E5-4E32-BAD5-F8A7E0F35FC8" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1033660107_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1476903107_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_697513315_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_1728940738_WixComponent" Guid="12E7F083-88D9-430A-A994-B8EFA40EF018" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1072194824_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_727358995_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_1206207150_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_1840423361_WixComponent" Guid="A1528DEE-112A-468D-9933-C40ED9F95038" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_178827342_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1647998046_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_599827935_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1213_dll_280295812_WixComponent" Guid="FBF012B5-9E5E-46FB-A283-CD2FDAD826DD" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1879036289_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1851267474_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1213_dll_450864562_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\Common.Logging.Log4Net1213.dll" />
      </Component>
      <Component Id="Id_log4net_dll_947190477_WixComponent" Guid="90557158-0CD2-41C3-99B0-2609E7F38EC3" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_868616977_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1182249022_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_192985691_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_117973828_WixComponent" Guid="7DFAA9AD-7B0A-4190-891A-A358CA9942F1" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1190095979_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_968213799_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_777799601_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_606503796_WixComponent" Guid="E3DF3F1D-1765-4D2F-A31D-CB47CE532A34" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_192275981_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1366360504_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_1027575163_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_21754613_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_269617638_WixComponent" Guid="86B0DBDB-6978-42C3-8083-A44128A7C763" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1314896127_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1013793316_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_183461085_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Facilities_Logging_dll_1044504077_WixComponent" Guid="BCF35A90-85BE-4545-BA7D-3879E306A583" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_169956446_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1044253329_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Facilities_Logging_dll_1670322866_WixFile" Name="Castle.Facilities.Logging.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\Castle.Facilities.Logging.dll" />
        </Component>
        <Component Id="Id_Castle_Services_Logging_Log4netIntegrati_634932351_WixComponent" Guid="31882E8B-5B3A-4575-B5F0-FD8D2A876313" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1983905121_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1227046100_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Services_Logging_Log4netIntegrati_383863155_WixFile" Name="Castle.Services.Logging.Log4netIntegration.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\Castle.Services.Logging.Log4netIntegration.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_537068890_WixComponent" Guid="7391FD50-9394-4D68-8A24-1C393ED36EC4" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1316707197_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1430519791_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_726555308_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_dll_1026637153_WixComponent" Guid="1146606F-9B72-4492-8EDF-4BE8FC6EDFF0" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_618607155_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1902165448_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_946557683_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net_dll_517264272_WixComponent" Guid="79FA5754-4C31-426D-BC63-7F068E1499C0" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_247512231_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_155964447_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net_dll_38984076_WixFile" Name="Common.Logging.Log4Net.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\Common.Logging.Log4Net.dll" />
        </Component>
        <Component Id="Id_log4net_dll_2035521869_WixComponent" Guid="E201025A-E965-4D2C-97B9-1F9467C7D63B" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_745866111_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_494735490_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_65446308_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_699103506_WixComponent" Guid="FD27A6CE-2B80-48FB-AF38-B5C42D2F30C2" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_91009519_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1536664757_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_1853317967_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_1847267479_WixComponent" Guid="2512848E-1B77-412A-9C3A-E3FF36B621F8" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1184452537_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1570805723_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_1011414861_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_634204730_WixComponent" Guid="18D72408-22B9-4806-827F-0F2D5A889B7E" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_416366850_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1383275382_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_1709079843_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_807014145_WixComponent" Guid="89BC25FA-44D0-42B0-9F77-B0FC34D0905A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_928025343_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_312258125_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_1032195503_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_2102686569_WixComponent" Guid="BC177962-244C-4AEB-9F5E-11797938A217" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1956606183_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1728388585_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_2020872429_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_1685177655_WixComponent" Guid="73A60EA3-B6EB-4927-836F-F95AB641A067" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_51244293_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1727350290_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_1721152473_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_1611678703_WixComponent" Guid="EF37F977-42AD-4FD3-A905-39EFFF2E180B" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_81017480_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1651973988_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_22105407_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_1158931681_WixComponent" Guid="6334D516-79B0-409D-A907-A4454C480248" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_974809240_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_295422863_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_298637966_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\MyData\Dev\github\AdTools\bin\Release\AdTools\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_Castle_Core_dll_1024581424_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_1684831469_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1728940738_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1840423361_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_280295812_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_947190477_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_117973828_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_606503796_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_269617638_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_Logging_dll_1044504077_WixComponent" />
      <ComponentRef Id="Id_Castle_Services_Logging_Log4netIntegrati_634932351_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_537068890_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1026637153_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net_dll_517264272_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_2035521869_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_699103506_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1847267479_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_634204730_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_807014145_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_2102686569_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_1685177655_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_1611678703_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_1158931681_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>