<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_Castle_Core_dll_221892127_WixComponent" Guid="112E1B4B-BAB0-45F0-81FD-93779315F413" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1975038185_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1848445862_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_393229668_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_136411531_WixComponent" Guid="BD464A06-50F6-4CA0-985A-ADAA23AD1AC0" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_412429180_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_859072938_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_1332995867_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_196537697_WixComponent" Guid="9B143E53-4862-4EE4-B5CC-300BF1457D70" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_775930526_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_827516173_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_478987400_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_1079048924_WixComponent" Guid="395C4E14-659A-4F16-A6C2-0BAE46BBF4E1" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1324074894_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_384762540_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_493023586_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1213_dll_902869962_WixComponent" Guid="36C0B5B2-2D1B-4254-9FF3-5E07468F590E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1536042974_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1173904975_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1213_dll_769463422_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\Common.Logging.Log4Net1213.dll" />
      </Component>
      <Component Id="Id_LibGit2Sharp_dll_1935279965_WixComponent" Guid="8E343FA7-CD29-409B-A6B3-79BE8804484C" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1833396390_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1946550631_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_LibGit2Sharp_dll_135910819_WixFile" Name="LibGit2Sharp.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\LibGit2Sharp.dll" />
      </Component>
      <Component Id="Id_log4net_dll_190154549_WixComponent" Guid="F0FFAB5F-6709-4EFE-9841-C4B0470FA6D0" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1511148276_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_148401472_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_786116476_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_Microsoft_GroupPolicy_Management_dll_1772517992_WixComponent" Guid="AFAC4813-0D91-44BB-8310-86961617B127" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_964706702_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_687120008_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Microsoft_GroupPolicy_Management_dll_804125959_WixFile" Name="Microsoft.GroupPolicy.Management.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\Microsoft.GroupPolicy.Management.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_1980650600_WixComponent" Guid="6756F35B-7FCC-46E6-9381-46B31F4D5AF5" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1387338583_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1407958078_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_766207886_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_1794052392_WixComponent" Guid="75B3C746-8CE2-4EF9-A6AA-1BD6DAE00926" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1331180466_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1064817298_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_310486400_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_1891717151_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_354977540_WixComponent" Guid="57D85999-8533-42F4-B47C-F9B0D6AD8923" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1646062932_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_577319971_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_1705341622_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Facilities_Logging_dll_306228670_WixComponent" Guid="EA9E6767-53F7-43C3-A185-032E50AF64B7" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_860328735_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_252959919_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Facilities_Logging_dll_1078806061_WixFile" Name="Castle.Facilities.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\Castle.Facilities.Logging.dll" />
        </Component>
        <Component Id="Id_Castle_Services_Logging_Log4netIntegrati_496644404_WixComponent" Guid="142BEC07-E6BB-4BBC-831E-EA7DEE7FF059" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1557110638_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1058655694_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Services_Logging_Log4netIntegrati_1409024827_WixFile" Name="Castle.Services.Logging.Log4netIntegration.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\Castle.Services.Logging.Log4netIntegration.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_178285651_WixComponent" Guid="1BEA6EC6-D7B8-4136-92F6-C3620E29080E" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_900349093_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_535979385_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_28487554_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_1712535043_WixComponent" Guid="75053279-D11F-45B0-ADCF-48515287DDB4" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_203075119_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_772746902_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_264027708_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_pdb_72956462_WixComponent" Guid="58C99211-F84D-4BD4-B56D-5571636283B5" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1707961522_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1379314642_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_pdb_88810518_WixFile" Name="Common.Logging.Core.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\Common.Logging.Core.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_dll_23390214_WixComponent" Guid="DA30973F-88E0-4D6B-9CC9-466BD9653842" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_645820447_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1839193988_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_2063600463_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1210_dll_1766038301_WixComponent" Guid="F9131EF8-B5A3-43D6-AF0E-6F877C800F09" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_846454841_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1719173143_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1210_dll_471225676_WixFile" Name="Common.Logging.Log4Net1210.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\Common.Logging.Log4Net1210.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1210_pdb_863418575_WixComponent" Guid="60BA00FD-717E-49C1-BD5B-472713D7F0C4" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1025229918_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1580302425_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1210_pdb_187333458_WixFile" Name="Common.Logging.Log4Net1210.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\Common.Logging.Log4Net1210.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_pdb_1369230660_WixComponent" Guid="8FEC5F28-34C4-4BA4-B7B1-0B0B563F565F" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_578052844_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2031409526_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_pdb_650819541_WixFile" Name="Common.Logging.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\Common.Logging.pdb" />
        </Component>
        <Component Id="Id_log4net_dll_2042925200_WixComponent" Guid="0E320922-DA14-42C4-B7A1-97856EED4B4A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1854794062_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1275873588_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_1555079711_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_1775947961_WixComponent" Guid="CB91B2CF-7828-450E-9615-835CEF276E68" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1542584779_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1802364949_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_486989490_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_871978693_WixComponent" Guid="172555E9-F657-4378-8F3C-9648EC264A9E" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_737720332_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_81517349_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_1128105347_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_292070396_WixComponent" Guid="1F30CFA8-FF6B-47F3-ACD3-6C306345FE22" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_46458692_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1818760689_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_794499665_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_266748290_WixComponent" Guid="60D48829-704A-4FCD-A156-832AFC5960B3" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_488509453_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1681951408_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_1807891870_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_1168618394_WixComponent" Guid="F4D620D7-B2AD-46C2-AF3B-2C01392EDD91" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_336843103_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1460251407_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_1797673210_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_1985421142_WixComponent" Guid="E59DA50C-4E66-469B-8053-C8C8B2EFAC34" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_587430018_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_545606252_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_1300539380_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_1467530315_WixComponent" Guid="93031E3F-B067-4065-8B57-5C1F03FA9C16" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_348645927_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_806740541_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_1134482199_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_319149240_WixComponent" Guid="D5280044-A54E-4EB4-B94F-BCEAFB753402" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_121927361_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_368586155_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_365646047_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\AdTools\bin\Release\AdTools\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_Castle_Core_dll_221892127_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_136411531_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_196537697_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1079048924_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_902869962_WixComponent" />
      <ComponentRef Id="Id_LibGit2Sharp_dll_1935279965_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_190154549_WixComponent" />
      <ComponentRef Id="Id_Microsoft_GroupPolicy_Management_dll_1772517992_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1980650600_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_1794052392_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_354977540_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_Logging_dll_306228670_WixComponent" />
      <ComponentRef Id="Id_Castle_Services_Logging_Log4netIntegrati_496644404_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_178285651_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1712535043_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_pdb_72956462_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_23390214_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_dll_1766038301_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_pdb_863418575_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_pdb_1369230660_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_2042925200_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_1775947961_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_871978693_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_292070396_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_266748290_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_1168618394_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_1985421142_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_1467530315_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_319149240_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>